<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">  //有可能用到thymleaf方言
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div id = "app">

</div>

<script type="text/javascript">
    Vue.component('balance',{
        template:`
        <div>

        </div>
        `
    })




</script>
</body>
</html>